/* Main HTML*/
body {
    margin: 0;
    padding: 0;
    background-color: #221A37;
    font-family: "Arial", sans-serif;
    color: #E8E8E8;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    zoom: 1;

}


button {
    border: none;
    background-color: transparent;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  

  a {
    text-decoration: none;
  }
/* End of Main HTML*/



/* Navigation */
.navigation-bar {
    position: fixed;
    top: 1%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100; 
    margin-top: 1%
  }
  


.contact-button{
    color: var(--text-white, #E8E8E8);
    font-family: Alata;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10%;
}


.about-button,
.resume-button,
.projects-button,
.courses-button,
.navigation-bar-text button {
  color: var(--text-white, #E8E8E8);
  font-family: Alata;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10%;
  position: relative; 
}


.about-button::before,
.resume-button::before,
.projects-button::before,
.courses-button::before,
.navigation-bar-text button::before {
  content: ""; 
  position: absolute;
  top: -15%;
  left: -25%;
  width: 150%;
  height: 110%;
  background-color: #40216698; 
  z-index: -1; 
  border-radius: 15px; 
  display: none; 
}

.about-button:hover::before,
.resume-button:hover::before,
.projects-button:hover::before,
.courses-button:hover::before,
.navigation-bar-text button:not(.contact-button):hover::before {
  display: block;
}


.navigation-bar-text{
  display: flex;
  justify-content: flex-end;
  gap: 5%;
}


.contact-button{
    border-radius: 22px;
    background: var(--button-background, #402166);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    margin-top: -2.5%
}
/* End of Navigation */




/* Intro Section */
.entire-welcome-container{
  margin-right: 6%
}


.intro-text{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}

.welcome-text,
.keona-abad,
.web-developer,
.brief-about-me{
    font-family: Philosopher;
    color: white
}

.keona-abad{
  margin-top: 4%;
  margin-bottom: -52px
}

.name-and-occupation{
    display: flex;
    flex-direction: column;
    font-size: 300%
  
}

.brief-about-me{
    text-align:center;
    margin-top: -30px;
    font-size: 150%
}

.welcome-text{
    margin-bottom: -1.5%
}

.welcome-button {
    position: relative;
  }
  
  .welcome-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
  }
  
  .welcome-text {
    font-family: Philosopher;
    color: white;
    text-align: center;
    z-index: 1;
  }
  

.intro-text{
    display:flex;
    margin-left: 60%;
    margin-top: 14%
}
/* End of Intro Section */
  



/* Earth Planets and Spaceman */
  .earth-and-spaceman-position {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 0%;
    margin-bottom: -1%
    
  }
  
  .earth-and-spaceman {
    position: relative;
  }

  .spaceman {
    position: absolute;
    top: -12.5%; 
    left: 14%; 
    z-index: 2; 
  }
  

 .star-image{
    margin-left: 10%;
    margin-top: 15%
    
  }

  .red-planet-image{
    margin-left: 200%;
    margin-top: 60%
  }

  .purple-planet-image{
    margin-left: 400%;
    margin-top: 10%
  }

  .random-planets{
    position: fixed
  }

  .background-stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    mix-blend-mode: soft-light;
  }
/* End of Earth Planets and Spaceman */





/* About Me Section */
.about-section{
  margin-top: 1670px
}
.about-me-block{
    width: 42%;
    min-height: 82%;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align children to the start (left) */
    border: 3px solid #CEB7FF;
    background: rgba(0, 0, 0, 0.30);
    position: absolute;
    right: 6%;
    top: 240%;

}

.about-me-paragraph-text {
    margin-left: 20px;
   
  }


.front-end-developer-text{
    color: var(--text-white, #E8E8E8);
    font-family: Philosopher;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.design-and-development-text{
    width: 137.697px;
    color: var(--text-gray, #575757);
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Philosopher;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline
}

.design-and-development-placement{
    margin-top: -27px;
}

.my-name-is-keona-text{
    width: 98%;
    flex-shrink: 0;
    color: #FFF;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Philosopher;
    font-size: 16.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.5%; 
}

.my-name-is-keona-placement{
    margin-top: 25px
}

.vector-up{
    position: absolute;
    right: -3%;
    top: -3%
}

.vector-down{
    position: absolute;
    left: -3%;
    bottom:-3%
}
/* End of about me*/



/* Resume Section*/

.resume-section{
  margin-top: 4010px;
}

.entire-resume-container {
  width: 600px;
  height: 750px;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align children to the start (left) */
    border: 3px solid #CEB7FF;
    background: rgba(0, 0, 0, 0.30);
    position: absolute;
  right: 6%;
  top: 480%;
}
.resume-layout {
  margin-bottom: 35px;
  flex-grow: 1; /* Allow the box to expand vertically with the text */
}

.date-on-resume-text{
color: var(--accent-purple, #5D3974);
text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
font-family: Philosopher;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 0px; 
}

.location-or-place-text{
    color: var(--text-gray, #575757);
    text-align: right;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Philosopher;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; 
    width: 104px;
    flex-shrink: 0;
     align-self: stretch;
}

.date-on-resume-text-spacing{
    margin-bottom: 25px;
    margin-left: 53px
}


.location-or-place-text-spacing{
    margin-left: 52px
}

.left-side-of-line{
    margin-left: -165px;
    margin-top: -225px
}

.resume-layout-placement{
    margin-top: 75px;
    margin-left: 155px;
}


.description-header-text{
  color: var(--text-white, #E8E8E8);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Philosopher;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.5%; 
}


.description-base-text{
  color: var(--text-white, #E8E8E8);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Philosopher;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.5%; /* 15.85px */
}

.description-header{
  margin-left: 26px
}

.right-side-of-line{
  margin-top: -52px
}

.resume-layout2 {
  margin-bottom: 350px;
}

.date-on-resume-text2 {
  color: var(--accent-purple, #5D3974);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Philosopher;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
}

.location-or-place-text2 {
  color: var(--text-gray, #575757);
  text-align: right;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Philosopher;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  width: 104px;
  flex-shrink: 0;
  align-self: stretch;
}

.date-on-resume-text-spacing2 {
  margin-bottom: 25px;
  margin-left: 53px;
}

.location-or-place-text-spacing2 {
  margin-left: 52px;
}

.left-side-of-line2 {
  margin-left: -165px;
  margin-top: -225px;
}

.resume-layout-placement2 {
  margin-top: 75px;
  margin-left: 155px;
}

.description-header-text2 {
  color: var(--text-white, #E8E8E8);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Philosopher;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.5%;
}

.description-base-text2 {
  color: var(--text-white, #E8E8E8);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Philosopher;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.5%; /* 15.85px */
}

.description-header2 {
  margin-left: 26px;
}

.right-side-of-line2 {
  margin-top: -52px;
}
/* End of Resume*/


/* Projects Section*/
.projects-section{
  margin-top: 5895px
}


.entire-projects-layout-block {
  position: absolute;
  top: 680%;
  right: 6%;
}

.project-one-box2{
  margin-top: 150px
}

.project-one-box3{
  margin-top: 375px
}

.clear-box-behind-text {
  width: 541px;
  height: 160.884px;
  flex-shrink: 0;
  border: 2px solid #CEB7FF;
  background: rgba(0, 0, 0, 0.30);
}

.learn-more-box {
  display: flex;
  width: 130.377px;
  height: px; /* Update the desired height */
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 26px;
  background: linear-gradient(347deg, rgba(255, 255, 255, 0.00) 0%, rgba(63, 49, 98, 0.48) 99.48%);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.project-description-text {
  width: 526.619px;
  height: 66px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 102.5%; 
}

.project-title-text {
  width: 196.843px;
  height: 35px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 102.5%; 
}

.learn-more-text {
  color: var(--text-white, #E8E8E8);
  font-family: Alata;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.project-title-placement {
  margin-left: 160px;
}

.learn-more-placement {
  margin-left: 233px;
  margin-top: -27px;
}

.clear-box-behind-text {
  margin-top: -145px;
}

.learn-more-box {
  margin-left: 181px;
  margin-top: -52px;
}

.project-description-placement {
  margin-top: -20px;
}

.shape-placement-hold {
  margin-top: 9000px;
}


.entire-projects-layout-block2 {
  position: absolute;
  top: 60%; 
}



.clear-box-behind-text2 {
  width: 541px;
  height: 160.884px;
  flex-shrink: 0;
  border: 2px solid #CEB7FF;
  background: rgba(0, 0, 0, 0.30);
}

.learn-more-box2 {
  display: flex;
  width: 130.377px;
  height: px; 
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 26px;
  background: linear-gradient(347deg, rgba(255, 255, 255, 0.00) 0%, rgba(63, 49, 98, 0.48) 99.48%);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.project-description-text2 {
  width: 526.619px;
  height: 66px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 102.5%; 
}

.project-title-text2 {
  width: 196.843px;
  height: 35px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 102.5%; 
}

.learn-more-text2 {
  color: var(--text-white, #E8E8E8);
  font-family: Alata;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.project-title-placement2 {
  margin-left: 160px;
}

.learn-more-placement2 {
  margin-left: 233px;
  margin-top: -27px;
}

.clear-box-behind-text2 {
  margin-top: -145px;
}

.learn-more-box2 {
  margin-left: 181px;
  margin-top: -52px;
}

.project-description-placement2 {
  margin-top: -20px;
}

.shape-placement-hold2 {
  margin-top: 9000px;
}


.entire-projects-layout-block3 {
  position: absolute;
  top: 53%;
}


.clear-box-behind-text3 {
  width: 541px;
  height: 160.884px;
  flex-shrink: 0;
  border: 2px solid #CEB7FF;
  background: rgba(0, 0, 0, 0.30);
}

.learn-more-box3 {
  display: flex;
  width: 130.377px;
  height: px; 
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 26px;
  background: linear-gradient(347deg, rgba(255, 255, 255, 0.00) 0%, rgba(63, 49, 98, 0.48) 99.48%);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.project-description-text3 {
  width: 526.619px;
  height: 66px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 102.5%; 
}

.project-title-text3 {
  width: 196.843px;
  height: 35px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 102.5%; 
}

.learn-more-text3 {
  color: var(--text-white, #E8E8E8);
  font-family: Alata;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.project-title-placement3 {
  margin-left: 160px;
}

.learn-more-placement3 {
  margin-left: 233px;
  margin-top: -27px;
}

.clear-box-behind-text3 {
  margin-top: -145px;
}

.learn-more-box3 {
  margin-left: 181px;
  margin-top: -52px;
}

.project-description-placement3 {
  margin-top: -20px;
}





/* End of Projects Section*/




/* Courses Section*/
.courses-section{
  margin-top: 7295px
}


.all-courses-block-container{
  position: absolute;
    right: 6%;
    top: 550%
  
}

  
.course-block-1{
    width: 220.339px;
    height: 110px;
    flex-shrink: 0;
    border: 2px solid #CEB7FF;
    background: rgba(0, 0, 0, 0.30);
    margin-bottom: 15px
}
.course-block-1-text{
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: 102.5%; 
margin-top: 40px;
}

.course-block-2{
    width: 220.339px;
    height: 110px;
    flex-shrink: 0;
    border: 2px solid #CEB7FF;
    background: rgba(0, 0, 0, 0.30);
    margin-bottom: 15px
}
.course-block-3{
    width: 220.339px;
    height: 110px;
    flex-shrink: 0;
    border: 2px solid #CEB7FF;
    background: rgba(0, 0, 0, 0.30);
    margin-bottom: 15px
}
.course-block-4{
    width: 220.339px;
    height: 110px;
    flex-shrink: 0;
    border: 2px solid #CEB7FF;
    background: rgba(0, 0, 0, 0.30);
}


.course-block-5{
    width: 220.339px;
    height: 110px;
    flex-shrink: 0;
    border: 2px solid #CEB7FF;
    background: rgba(0, 0, 0, 0.30);
    margin-bottom: 15px
}
.course-block-6{
    width: 220.339px;
    height: 110px;
    flex-shrink: 0;
    border: 2px solid #CEB7FF;
    background: rgba(0, 0, 0, 0.30);
    margin-bottom: 15px
}
.course-block-7{
    width: 220.339px;
    height: 110px;
    flex-shrink: 0;
    border: 2px solid #CEB7FF;
    background: rgba(0, 0, 0, 0.30);
    margin-bottom: 15px
}
.course-block-8{
    width: 220.339px;
    height: 110px;
    flex-shrink: 0;
    border: 2px solid #CEB7FF;
    background: rgba(0, 0, 0, 0.30);
}

.course-block-row-2{
    margin-left: 300px;
    margin-top: -500px
}


.course-block-9{
    width: 220.339px;
    height: 110px;
    flex-shrink: 0;
    border: 2px solid #CEB7FF;
    background: rgba(0, 0, 0, 0.30);
    margin-bottom: 15px
}
.course-block-10{
    width: 220.339px;
    height: 110px;
    flex-shrink: 0;
    border: 2px solid #CEB7FF;
    background: rgba(0, 0, 0, 0.30);
    margin-bottom: 15px
}
.course-block-11{
    width: 220.339px;
    height: 110px;
    flex-shrink: 0;
    border: 2px solid #CEB7FF;
    background: rgba(0, 0, 0, 0.30);
    margin-bottom: 15px
}
.course-block-12{
    width: 220.339px;
    height: 110px;
    flex-shrink: 0;
    border: 2px solid #CEB7FF;
    background: rgba(0, 0, 0, 0.30);
}

.course-block-row-3{
    margin-left: 600px;
    margin-top: -500px

}

.all-courses-block-container{
    margin-top: 2700px;
    margin-bottom: -1900px
}
/* End of Courses Section*/


/* Contact Me Section*/
.contact-section{
  margin-top: 9600px
}


.entire-contact-me-containter{
  position: absolute;
  padding-bottom: 355px;
  top: 659%;
  right: 6%;
  margin-left: 5555px
}


  .contact-me-text-edit{
    text-shadow: 0px 0px 5px 0px #B377FF;
    font-family: Philosopher;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1200px;
    margin-top: 3000px
  }



.contact-me-top-rectangle{
    width: 340px;
    height: 16px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #CEB7FF;
    filter: drop-shadow(0px 0px 4px #CEB7FF);
    margin-left: 1170px;
    margin-bottom: 100px

}




.contact-me-bottom-rectangle{
    width: 340px;
    height: 16px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #CEB7FF;
    filter: drop-shadow(0px 0px 4px #CEB7FF);
    margin-left: 1170px;
    
   
}

.both-contact-me-rectangles{
    margin-top: -100px
}


.email-box{
  width: 676px;
  height: 51px;
  flex-shrink: 0;
  opacity: 0.3;
  background: #CEB7FF;
  margin-left: 1000px;
  margin-top: 55px;
  padding: 10px;
  color: #000000;
  font-family: Bebas Neue;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 51px; 
}


.email-box::placeholder{
  color: #FFF;
  font-family: Bebas Neue;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subject-box{
  width: 676px;
  height: 51px;
  flex-shrink: 0;
  opacity: 0.3;
  background: #CEB7FF;
  margin-left: 1000px;
  margin-top: 55px;
  padding: 10px;
  color: #000000;
  font-family: Bebas Neue;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 51px; 
}
.subject-box::placeholder{
  color: #FFF;
  font-family: Bebas Neue;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content-box{
    width: 676px;
    height: 225px;
    flex-shrink: 0;
    opacity: 0.3;
    background: #CEB7FF;
    margin-left: 1000px;
    margin-top: 55px;
    padding: 10px;
    color: #000000;
    font-family: Bebas Neue;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
}

.content-box::placeholder{
  color: #FFF;
  font-family: Bebas Neue;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;

}

.email-text{
    color: #FFF;
    font-family: Philosopher;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 830px;
    margin-top: -585px;

}

.example-email-text{
    color: #FFF;
    font-family: Bebas Neue;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    padding-top: 10px
    
    
}

.subject-text{
    color: #FFF;
    font-family: Philosopher;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 795px;
    margin-top: 90px
}

.example-subject-text{
    color: #FFF;
    font-family: Bebas Neue;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    padding-top: 10px
    
}

.content-text{
    color: #FFF;
    font-family: Philosopher;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 778px;
    margin-top: 85px
}

.content-example-text{
    color: #FFF;
    font-family: Bebas Neue;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    padding-top: 10px
}


.send-email-button{
  color: #FFF;
  font-family: Philosopher;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  border-radius: 22px;
  background: var(--button-background, #ceb7ff4d);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  margin-left: 1545px;
  margin-top: 15px;
}
/* End of Contact Me Section*/


/* Coding Images */
.html-stack-sizing{
    height: auto;
    width: 50px;
    margin-left: 984px;
    margin-top: 65px;
}

.css-stack-sizing{
    height: auto;
    width: 50px;
}

.java-script-stack-sizing{
    height: auto;
    width: 75px;
    margin-left: -10px;
    
    
}
/* End of Coding Images */






@media (max-width: 1000px) {
/* Earth Planets and Spaceman */
.earth-and-spaceman-position {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 0%;
  margin-bottom: -1%
  
}

.earth-and-spaceman {
  display: none;
  position: relative;
}

.spaceman {
  display: none;
  position: absolute;
  top: -12.5%; 
  left: 14%; 
  z-index: 2; 
}


.star-image{
  margin-left: 10%;
  margin-top: 15%
}

.red-planet-image{
  display: none;
  margin-left: 200%;
  margin-top: 60%
}

.purple-planet-image{
  display: none;
  margin-left: 400%;
  margin-top: 10%
}

.random-planets{
  display: none;
  position: fixed
}

.background-stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  mix-blend-mode: soft-light;
}
/* End of Earth Planets and Spaceman */


  
}
